@import url(./reset.css);

/* HEADER STYLE */
header {
    padding: 2.5rem 4%;
}

header > .interface {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    color: #7d7d7d;
    display: inline-block;
    transition: .2s;
}

header a:hover{
    color: #ffffff;
    transform: scale(1.05);
}

header nav ul li{
    display: inline-block;
    padding: 0 2.5rem;
}



/* WEBSITE HEADER STYLE */
section.topo-do-site {
padding: 2.5rem 4%;
}

section.topo-do-site .flex {
    justify-content: center;
    align-items: center;
    gap: 5.625rem;
}

.topo-do-site h1 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #ffffff;
    line-height: 2.5rem;
}

.topo-do-site .txt-topo-do-site h1 span {
    color: #0A84FF;
}

.topo-do-site .txt-topo-do-site p {
    margin: 2.5rem 0;
    font-size: 1.125rem;
    color: #D1D5DB;
}

.topo-do-site .img-topo-do-site img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
    height: 30rem;
}

@keyframes flutuar {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}