@import url(./reset.css);

/* HEADER STYLE */
header {
    padding: 2.5rem 4%;
}

header > .interface {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    color: #7d7d7d;
    display: inline-block;
    transition: .2s;
}

header a:hover{
    color: #ffffff;
    transform: scale(1.05);
}

header nav ul li{
    display: inline-block;
    padding: 0 2.5rem;
}



/* WEBSITE HEADER STYLE */
section.topo-do-site {
padding: 2.5rem 4%;
}

section.topo-do-site .flex {
    justify-content: center;
    align-items: center;
    gap: 5.625rem;
}

.topo-do-site h1 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #ffffff;
    line-height: 2.5rem;
}

.topo-do-site .txt-topo-do-site h1 span {
    color: #0A84FF;
}

.topo-do-site .txt-topo-do-site p {
    margin: 2.5rem 0;
    font-size: 1.125rem;
    color: #D1D5DB;
}

.topo-do-site .img-topo-do-site img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
    height: 30rem;
}

@keyframes flutuar {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

/* SPECIALTY STYLE */
section.especialidades {
    padding: 2.5rem 4%;
}

section.especialidades .flex {
    gap: 3.75rem;
}

.especialidades .especialidades-box {
    color: #D1D5DB;
    padding: 2.5rem;
    border-radius: 20px;
    margin-top: 1.625rem;
    transition: .2s;
}

.especialidades .especialidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #0A84FF;
}

.especialidades .especialidades-box i{
    font-size: 4.375rem;
    color: #0A84FF;
}

.especialidades .especialidades-box h3 {
    font-size: 1.75rem;
    margin: 1rem 0;
}

/* ABOUT STYLE */
section.sobre {
    padding: 2.5rem 4%;
}

section.sobre .flex {
    align-items: center;
    gap: 3.75rem;
}

.sobre .txt-sobre p{
    margin: 1.25rem 0;
    color: #D1D5DB;
    font-size: 1.125rem;
    line-height: 1.75rem;
    text-align: justify;
}

.sobre .txt-sobre h2 {
    font-size: 2.5rem;
    line-height: 3rem;
    margin-bottom: 1.875rem;
}

.sobre .txt-sobre span {
    color: #0A84FF;
    display: block;
}

.sobre .txt-sobre .btn-social button {
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 50%;
    border: none;
    background-color: #0A84FF;
    font-size: 1.375rem;
    cursor: pointer;
    margin: 0 .625rem;
    transition: all 0.3s ease-in-out;
}

.txt-sobre .btn-social button:hover{
    box-shadow: #0A84FF 0px 0px 20px;
    color: #0b2553;
    transform: scale(1.05);
}

.sobre .txt-sobre .btn-social button i {
    background-color: #0A84FF;
}