/*Reset CSS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    color: #ffffff;
  }

body {
    background-color: #0F0F0F;
    height: 100vh;
}

.interface {
    max-width: 80rem;
    margin: 0 auto;
}